@charset "utf-8";
/* CSS Document */

#fondo{
		/*display: none;*/
		position: fixed;
		bottom: 0;
  		left: 0;
  		right: 0;
		background-color: rgba(0,0,0,0.8);
		height: 100%;
		width: 100%;
	
}
#marco{
	background-color: white;
	width: 80%;
	height: 80%;
	margin: 7% auto;
	position: relative;
	border: 15px solid black;
	
}
#cerrar{
	color: rgba(87,87,87,1.00);
	position: absolute;
	right: 10px;
	bottom: 10px;
}
#x{
	font-size: 2em;
	vertical-align: -2px;
}